body {
  font-family: system-ui;
  margin: 0;
  background: #0f172a;
  color: white;
}

.header {
  text-align: center;
  padding: 1rem;
}

.container {
  padding: 1rem;
  max-width: 1100px;
  margin: auto;
}

.search-section input {
  width: 100%;
  padding: 0.7rem;
  font-size: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.card {
  background: #1e293b;
  padding: 0.5rem;
  border-radius: 8px;
  text-align: center;
}

.card img {
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.status {
  text-align: center;
}
.paginationBtn{
    width:4rem;
    height:1.7rem;
    border:1px solid blue;
    border-radius: 10%;
    margin:0.5rem;
    transition:0.15s;
}
.paginationBtn:hover{
    transform: scale(108%);
    background-color:aqua;
    color:white;
}

.recent{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;

    margin-top:1rem;
    margin-bottom:3rem;
}
#recentHeader{

}
.recent button{
    min-width: 10rem;
    width:auto;
}
.recent button:hover{
    color:goldenrod;
    transform: scale(108%);
}

.hidden{
    display:none;
}
