@import "tailwindcss";

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  margin: 0;
  font-family: system-ui;
}

/* THEMES */
.theme-light {
  --bg: #f5f7fb;
  --card: #ffffff;
  --text: #111827;
  --muted: #6b7280;
  --border: #e5e7eb;
}

.theme-dark {
  --bg: #0b0f1a;
  --card: #111827;
  --text: #ffffff;
  --muted: #9ca3af;
  --border: #1f2937;
}

body {
  background: var(--bg);
  color: var(--text);
}

/* NAVBAR */
.navbar-glass {
  background: rgba(17, 24, 39, 0.7);
  backdrop-filter: blur(14px);
  border-bottom: 1px solid var(--border);
  z-index: 1;
}

/* CARD */
.card {
  background: var(--card);
  border: 1px solid var(--border);
  border-radius: 16px;
  padding: 14px;
  transition: all 0.25s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.25);
}

/* INPUT */
.input {
  background: var(--card);
  border: 1px solid var(--border);
  color: var(--text);
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}

.input:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 2px rgba(59,130,246,0.2);
}

/* BUTTONS */
.primary-btn {
  background: linear-gradient(135deg, #2563eb, #3b82f6);
  color: white;
  padding: 12px;
  border-radius: 12px;
  width: 100%;
  transition: all 0.2s ease;
}

.primary-btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 6px 20px rgba(37, 99, 235, 0.4);
}

/* VIEW BUTTONS */
.btn {
  background: #e5e7eb;
  color: black;
  padding: 6px 12px;
  border-radius: 8px;
  flex: 1;
}

.active-btn {
  background: #2563eb;
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
  flex: 1;
}

/* SIDEBAR */
.sidebar-section {
  padding-bottom: 14px;
  border-bottom: 1px solid var(--border);
  z-index: 0;
}

/* PRODUCT IMAGE */
.product-img {
  transition: transform 0.3s ease;
}

.card:hover .product-img {
  transform: scale(1.05);
}

/* CART */
.cart-item {
  padding: 10px;
  border-radius: 10px;
  transition: background 0.2s ease;
}

.cart-item:hover {
  background: rgba(255,255,255,0.05);
  border-color: #3b82f6;
}

/* TEXT */
.text-muted {
  color: var(--muted);
}