*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    background-color: #1e1e1e;
    font-family:sans-serif;
    color:#a0a0a0;
    line-height:1.6;
}

.main-container{
    display:grid;
    max-width:1200px;
    grid-template-columns:350px 1fr;
    gap:40px;
    padding-top:40px;
    margin:auto;
    padding:40px;
    
}

.sidebar{
    height:90vh;
    background-color: #2a2a2a;
    border:1px solid #3a3a3a;
    border-radius:16px;
    position: sticky;
    top:40px;
}

.main-content{
    background-color: #2a2a2a;
    border:1px solid #3a3a3a;
    border-radius:16px;
    padding:30px;
}

.profile{
    text-align: center;
}

.profile img{
    height:120px;
    border-radius: 50%;
    border:1px solid #3a3a3a;
}

.profile h2{
    font-size:1.5rem;
    font-weight:700;
    margin-top:20px;
    color:#e0e0e0;
}
.profile p{
    background-color: #1e1e1e;
    padding: 5px 15px;
    color:#FFBF00;
    border:1px solid #3a3a3a;
    border-radius:8px;
    display:inline-block;
    font-size:0.8rem;
    margin-top:10px;
    
}


.contact{
    margin-top:30px;
    border-top:2px solid #3a3a3a;
    padding-top:20px;
    text-align:start;
    padding-left:80px;
}

.label{
    font-size:0.8em;
    font-weight:500px;
    color:#a0a0a0;
}
.sidebar{
    padding-top:20px;
}
.value{
    color:#e0e0e0;
    text-decoration: none;
}

.email,.phone{
    margin-bottom:15px;
}

.social{
    border-top:2px solid #3a3a3a;
    margin-top:30px;
    padding-top:20px;

    display: flex;
    justify-content: center;
    gap: 12px;

    padding-left: 0;  
}

.social img{
    height:24px;
    width:24px;
    margin-left:5px;
    filter:grayscale(1) invert(0.7);
    transition:filter 0.3 ease;
}

.social img:hover{
    filter:grayscale(0);
}


#navigation{
    border-bottom:2px solid #3a3a3a;
    margin-bottom:20px;
    padding-bottom:20px;
}

nav{
    display:flex;
    justify-content: flex-end;
    gap:20px;
    
}
nav a{
    text-decoration:none;
    color: #a0a0a0;
    font-weight:500;
    transition:color 0.3s ease;
}

.active,nav a:hover{
    color:#FFBF00;
}

.heading{
    color:#e0e0e0;
    font-size:2rem;
    margin-bottom:15px;
}

.line{
    width:40px;
    height:5px;
    background-color: #FFBF00;
    margin-bottom:15px;
}

.content{
    text-align:justify;
}

#about{
    margin-bottom:40px;
}


.grid-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
    gap:30px;
}

.item{
    padding:10px;
    border-radius:10px;
    border:2px solid #3a3a3a;
    text-align:center;
    background-color: #1e1e1e;
    margin-top:20px;
    transition:transform 0.3s ease, boxshadow 0.3s ease;
}

.item img{
    height:48px;
    width:48px;
    filter:invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg) brightness(110%) contrast(101%);
}
.item h3{
    font-size:1rem;
    font-weight:500;
}

.item:hover{
    transform:scale(1.1);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

#education,#experience{
    margin-top:30px;
}

.edtech{
    position:relative;
}

.year{
    font-size:0.9rem;
    color:#a0a0a0;
    margin-bottom:5px;
}
.degree{
    color:#e0e0e0;
    font-size:1.2rem;
    font-weight:500;
    margin-bottom:5px;
}
.college{
    font-style:italic;
    color:#a0a0a0;
    margin-bottom: 10px;
}
.work,.cgpa{
    color:#a0a0a0;
}
.edfirst,.edsecond{
    margin-bottom:30px;
    position: relative;
    padding-left:25px;
}

.goal{
    height:5px;
    width:5px;
    border-radius:50%;
    border:6px solid #FFBF00;
    position:absolute;
    top:5px;
    left:0px;
    z-index: 1;
}

.liner{
    position:absolute;
    width:2px;
    top:0px;
    bottom:0px;
    left:4px;
    border:2px solid #3a3a3a;
}

.logo img{
    position:absolute;
    top:32px;
    left:130px;
    height:30px;
}

.project-container{
    margin-top:30px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:25px;
}

.project img{
    height:180px;
    width:100%;
    object-fit:cover;
}
.project{
    background-color: #1e1e1e;
    border-radius: 12px;
    border:1px solid #3a3a3a;
    overflow:hidden;
    transition:transform 0.5s ease, box-shadow 0.5s ease;
}
.project:hover{
    transform:translateY(-10px);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
}

.card{
    padding:20px;
}
.card h3{
    color:#e0e0e0;
    margin-bottom:10px;
}
.card p{
    color:#a0a0a0;
    line-height:1.6;
    margin-bottom:20px;
}

.card span{
    background: rgba(255,191,0,0.1);
    color:#FFBF00;
    padding:4px 8px;
    border-radius: 5px;
    font-size:0.75rem;
    margin-right:5px;
}

@media screen and (max-width:1200px){
    .main-container{
        grid-template-columns:1fr;
        padding:20px;
    }
    .sidebar{
        position:static;
        height:auto;
    }
}

@media screen and (max-width:750px){
    .project-container{
        grid-template-columns:1fr;
    }

    #navigation nav{
        justify-content:center;
        flex-wrap:wrap;
    }
    .sidebar{
        display:flex;
        justify-content: center;
        gap:40px;
    }
}







